@import './../../styles/default.less';

.navleft-wrap {
  height: calc(100%);
  color: white;
  background: #001529;

  .logo-wrap {
    height: 64px;
    width: 200px;
    background: #002140; 
    display: inline-block;
    font-size: @font-size;
    img {
      margin: 18px 25px;
      width: 32px;
      margin-right: 14px;
    }
  }
}

