.header{
  font-size: 14px;
  background-color: #fff!important;
}

.clearfix:after{
    content: "";
    clear:both;
    zoom:1
}
.header-wrap{
    text-align: center;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #eee;
  .menufold {
    float: left;
    width: 48px;
    font-size: 20px;
  }
  .message {
    float: right;
    margin-right: 25px;

    .bell {
      display: inline-block;
      width: 48px;
      font-size: 14px;
    }

    span {
      display: inline-block;
      padding: 0 12px;

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right:8px;
      }
    }
  }
}
.breadcrumb{
    padding: 16px 24px;
    color: rgba(0,0,0,0.45);
   
}
